/* Reset */

@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Slabo 27px', serif;
  height: 100vh;
  text-align: center;
}


ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

button{
  border: 1px solid #FFF;
  background: #000;
  color: #FFF;
  padding: 5px 10px;
}



/* Project Code */

#header{
	width: 100%;
  h2{
    margin-top: 0;
    padding-top: 10px; 
  }
}


h2{
  margin-top: 0;
}

nav{
  margin: 0 auto;
  text-align: center;
  ul{
    height: 50px;
    li{
      display: inline-block;
      height: 100%;
      padding: 5px;
    }
  }
}

ul#organism{
  margin: 50px auto;
  width: 80%;
  li{
    display: inline-block;
    height: 10vh;
    width: 20%;
  }
}


































